# Node.js dependencies
node_modules/
npm-debug.log*
.npm/

# Build artifacts
dist/

# Editor-specific files
.vscode/  # Optional, if you don't want to share VS Code workspace settings
.idea/    # JetBrains IDEs

# OS specific files
.DS_Store
Thumbs.db

# Environment variables (if you add them later)
.env
.env.local
.env.*.local